exportPattern("^[^unique]")

import(ape, Biostrings)
importFrom(geiger, heights)
importFrom(phangorn, nni, rNNI)

S3method(plot, locus.dist)
S3method(plot, partitionedRAD)
S3method(plot, rankedPartitionedRAD)
S3method(print, pyRAD.loci)
S3method(summary, pyRAD.loci)
